/*

Style : Variables

*/

/*Common Color*/

$font-color: #363636 !default;
$header-background : #f6f3f1 !default;
$body-background : #f6f3f1 !default;

$sidemenu-color: #6a5757 !default;
$side-mune-active-color : #6a5757 !default;
$side-mune-hover-color : #6a5757 !default;

$default-color: #a68776 !default;